<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{{#if msg}}
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{msg}}</strong>
    </div>
{{/if}}
{{#if msg1}}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{msg1}}</strong>
    </div>
{{/if}}
<body>
    <form action="resetPasswordAction" method="post">
        <div class="form-group">
            <label for="pass">Old Password:</label>
            <input type="password" class="form-control" placeholder="Enter old password" name="oldpass">
        </div>
        <div class="form-group">
            <label for="pwd">New Password:</label>
            <input type="password" class="form-control" placeholder="Enter new password" name="newpass">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
